<div class="row">
<h1>About EnterGame</h1>
<p>EnterGame is a place to share news, reviews, video and other things that you have read about games.</p>
<p>You just need to sign up and after that you can post anything you think is cool (Remember it should be related to games!).</p>
</div>