<div class="row">
<h1>Contact</h1>
<p>If you have any idea to improve this service just send an email to me on <code>erbesharat@gmail.com</code></p>
<p>Or you can just search for <code>@erbesharat</code> on any social network. I'm mostly active on <a href="https://twitter.com/erbesharat">Twitter</a></p>
</div>