<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <a href="/"><li class="menu-text">EnterGame</li></a>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/posts/new">New Post</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>